@use "./variables" as *;

.comic {
    .single-comic-image {
        height: 300px;
        border: 2px solid white;
        margin-top: -25rem;
    }

    .comic-title {
        color: $comic-title;
    }

    .comic-price {
        background-color: $comic-price;
        box-shadow: 0px 2px 1px 0px black;

        .us-price,
        .availability {
            color: $comic-price-text;
        }
    }

    .ad {
        color: $comic-title;
    }
}

.about {
    background-color: $comic-secondary-bg;
    border-top: 1px solid $comic-secondary-text;

    .about-top {
        padding-bottom: 5rem;

        .talent {

            h4,
            span {
                color: $comic-title;
            }

            h4 {
                border-bottom: 1px solid $comic-secondary-text;
            }

            a {
                color: $primary-color;
            }

            .art,
            .written {
                border-bottom: 1px solid $comic-secondary-text;
            }
        }

        .specs {

            h4,
            span {
                color: $comic-title;
            }

            h4 {
                border-bottom: 1px solid $comic-secondary-text;
            }

            div {
                border-bottom: 1px solid $comic-secondary-text;
            }
        }
    }

    .about-bottom {
        border-top: 1px solid $comic-secondary-text;

        .col {
            border-left: 1px solid $comic-secondary-text;
            border-right: 1px solid $comic-secondary-text;
        }

        .text {
            color: $comic-secondary-text;
        }

        img {
            filter: contrast(0.5);
        }
    }

}