@use "./variables" as *;

header {
    img {
        height: 70px;
    }

    .search-input {
        border-bottom: 2px solid $primary-color;
    }

    .active-link {
        border-bottom: 2px solid $primary-color;
    }
}