$text-light: darkgray;
$primary-color: #0d6efd;
$footer-bg: #303030;
$comic-title: #01365f;
$comic-price: #55ba59;
$comic-price-text: rgba(255, 255, 255, 0.767);
$comic-secondary-bg: #f6f6f6;
$comic-secondary-text: #dcdcdc;